* {
    box-sizing: border-box;
   font-family: 'Times New Roman', Times, sans-serif;
   font-size: 25px;
   margin: 0;
}

body {
    display: block;
}

h1 {
    text-align: center;
    margin:  20px;
    font-size: 50px;
}


div {
    float: left;
    margin: 10px 0 0 10px;
    width: 400px;
    background-color: rgb(209, 205, 205);
    border: 3px solid black;
    
}

section {
    display: flex;
    justify-content: center;
}

h2 {
    width: 150px;
    text-align: center;
    float: right;
    border: 3px solid #000000;
    border-top: 1px;
    border-right: 1px;
}

p {
    padding: 40px 0 10px 10px;
}

#ch {
    background-color: darksalmon;
}

#bf {
    color: #ffffff;
    background: #8e352f;
}

#si {
    background-color:  #E5D198;
}

@media ( max-width:991px) {
  
    section {
        display: contents;
    }

    #si-div {
     width: 810px ;
    }
}

@media ( max-width:768px) {
    section {
        display: block;
    }

    div {
        width: 700px;
    }
    
    
    #si-div {
        width: 700px;
    }
}