* {
    box-sizing: border-box;
   
}

h1 {
    text-align: center;
}

h2 {
    float: right;
    text-align: center;
    width: 150px;
    border: 3px solid black;
    border-top-width: 1px;
    border-right-width: 1px;
    margin: 0;
}

div {
    align-self: center;
    margin: 10px 0 0 20px;
    width: 400px;
    float: left;
    border: 3px solid black;
    background-color: rgb(129, 126, 126);
    
}

p {
    margin: 20px 0px 5px 5px;
    padding-top: 20px;
}

#ch {
    background-color: darksalmon;
}

#bf {
    color: #ffffff;
    background: #8e352f;
}

#si {
    background-color: #f4f48e;
}

@media ( max-width:991px) {
   div {
    width: 350px;
   } 

   #div-si {
    clear: left;
    width: 720px;
   }
}

@media ( max-width:768px) {
    div {
        width: 700px;
       } 
    
       #div-si {
        clear: left;
        width: 700px;
       }
}